.logo{
    font-family: 'Archivo Black';
    text-align: start;
    background: linear-gradient(to right, #897F5F 0%, #ECB71F 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}